$base-color: #121212;
$second-color: #1f1f1f;
$third-color: #3a3a3a;
$first-text-color: #cfcfcf;
$second-text-color: #747474;
$succes-color: #06a314;
$alert-color: #ddbb41;
$error-color: #f44336;
$blue-color: #66a6ed;